# Recovery SELinux policy for TECNO KM6
# Only contains rules that do not conflict with AOSP public neverallow policies.
# Rules for service_manager add/find and hwservice_manager add have been removed
# as they violate neverallow in system/sepolicy/public/

# Allow recovery to read thermal sysfs nodes
allow recovery sysfs_thermal:file r_file_perms;

# Allow recovery to access vibrator LED sysfs
allow recovery sysfs_leds:file rw_file_perms;

# Allow recovery to access flashlight sysfs
allow recovery sysfs:file rw_file_perms;
